extends ../components/base/layout

block variables
  - const title = "Феникс - студия фитнеса и растяжки" //- на страницах кроме главной используйте О нас — ProjectName
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  +header()(data-fix-block)
  div(data-scroll-container)
    div.scroll-section(data-scroll-section)
      main
        +intro()
      +footer()
  .cursor.is-hidden(data-cursor)
    span
block modals
