mixin intro()
  .intro
    .container
      .intro__wrapper
        .intro__content
          h1.intro__title.title.fibo(data-simple-animate)
            span.title__text.title__text--gradient Феникс
            =" "
            span.title-text студия фитнеса и&nbsp;растяжки
          button.intro__button.btn.blob-link.fibo(data-simple-animate)
            span Записаться на пробное занятие
        .intro__logo.fibo(data-simple-animate)
          img(src="img/svg/logo-text.svg", width="740", height="640", alt="Логотип")
