.btn {
  display: inline-flex;
  padding: size(10px) size(20px);

  font-weight: 300;
  color: $color-default-white;
  text-transform: uppercase;

  background: $base-gradient;
  border: 0.5px solid $color-scarlet;
  border-radius: size(4px);
  cursor: pointer;

  transition: color $trans-600, transform $trans-1000, opacity $trans-1500;

  @include hover {
    color: $color-scarlet;
  }

  &:disabled {
    background: $color-thunder;
    opacity: 0.5;

    pointer-events: none;
  }
}
