.intro {
  display: flex;
  align-items: center;
  height: 100vh;

  padding: size(100px) 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    gap: 10%;
    max-height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: size(40px);

    .title__text--gradient {
      font-size: size(62px);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
      width: size(740px);
      height: size(640px);
    }
  }
}
