@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Lato";

  font-display: swap;
  src:
    url("../fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src:
    url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src:
    url("../fonts/Lato-SemiBold.woff2") format("woff2");
}
