mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      .header__wrapper
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", width="37", height="30px", alt="Логотип")
        button.header__toggle.blob-link(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          span Меню
        a.header__phone-link(href="tel:+79114881312") +7 (911) 488 13 12

