// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-red:                         #fc0804;
$color-scarlet:                     #fb2c04;
$color-tangerine:                   #fb7704;
$color-thunder:                     #4c4c4b;
$color-seal-brown:                  #131313;

// Gradient

$base-gradient:                    linear-gradient(90deg, #fc0804 0%, #fb2c04 33%, #fb7704 66%);
$text-gradient:                    linear-gradient(90deg, #fc0804 0%, #fb2c04 16.5%, #fb7704 33%, #fc0804 49.5%, #fb2c04 66%, #fb7704 83.5%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-lato:                           "Lato", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-400:                         0.4s $tf-default;
$trans-500:                         0.5s $tf-default;
$trans-600:                         0.6s $tf-default;
$trans-800:                         0.8s $tf-default;
$trans-1000:                        1s $tf-default;
$trans-1200:                        1.2s $tf-default;
$trans-1500:                        1.5s $tf-default;
$trans-2000:                        2s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
